/* Default styles */
body {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
}

header h2 {
  color: #006EB6;
  margin-bottom: 20px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

ul {
  padding-left: 20px; /* Indent list items */
}

footer img {
  width: 150px;
  margin: 20px auto;
  display: block;
}
